<ion-content>
    <ion-list *ngIf="datas && datas.length > 0">
        <ion-item-group *ngFor="let dataConvite of datas">
            <ion-item-divider color="light">Entrada: {{ dataConvite | date:'dd/MM/yyyy'}}</ion-item-divider>
            <ion-item-sliding *ngFor="let convite of getConvitesPorData(dataConvite)">
                <ion-item text-wrap>
                    <ion-avatar item-start>
                        <img [src]="getImagem(convite.convidado)">
                    </ion-avatar>
                    <h2>{{convite.convidado.nome}}</h2>
                    <h4>{{convite.situacaoConvite}}</h4>
                </ion-item>
                <ion-item-options side="right" *ngIf="mostrarBotaoCancelar(convite)" (ionSwipe)="cancelarConvite(convite)">
                    <button ion-button expandable color="danger" icon-only (click)="cancelarConvite(convite)">
                        <ion-icon name="fa-trash"></ion-icon>
                    </button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-item-group>
    </ion-list>
</ion-content>